* {
  box-sizing: border-box;
}

#root {
  padding: 0;
  --primary: #A626D3;
  --primary-dark: #672280;
  --white: #fff;
  --inner-shadow: inset .2rem .2rem .5rem var(--greyLight-2),
		inset -.2rem -.2rem .5rem var(--white);
  --greyLight-1: #eee9f5;
  --greyLight-2: #c8d0e7;
  --lr-grad: 90deg, var(--primary-dark) 10%, var(--primary) 100%
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
  font-size: 16px;
  background: var(--greyLight-1);
}

// ------- Header  -------
.header {
  display: flex;
  align-items: center;
  height: 4rem;
  background: linear-gradient(var(--lr-grad));
  color: var(--greyLight-1);
  padding: 1.25em;
}

.header--image {
  height: 100%;
  margin-right: .375rem;
}

.header--title {
  font-size: 1.25rem;
  margin-right: auto;
  letter-spacing: -.1rem;
}

.header--project {
  font-weight: 300;
  font-size: .75rem;
}
//----------------------------

// Main Component 
.main {
  margin: 2rem;
}

.main--input-div {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.main--input-text {
  font-size: 1rem;
  margin: .5em;
}

.main--input-field {
  border: none;
  padding: 0 .5rem;
  width: 98%;
  height: 3.8rem;
  border-radius: 1rem;
  outline: none;
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--primary-dark);
  caret-color: var(--primary);
  box-shadow: var(--inner-shadow);
  background: var(--greyLight-1);
}



