* {
  box-sizing: border-box;
}

#root {
  padding: 0;
  margin: 0;
  --primary: #A626D3;
  --primary-dark: #672280;
  --white: #fff;
  --inner-shadow: inset .2rem .2rem .5rem var(--greyLight-2),
		inset -.2rem -.2rem .5rem var(--white);
  --greyLight-1: #eee9f5;
  --greyLight-2: #c8d0e7;
  --lr-grad: 90deg, var(--primary-dark) 10%, var(--primary) 100%;
  background: var(--greyLight-1);
  height: 100vh;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
  font-size: 16px;
}

//------- Refactor -----------------------------------

.header,
.main--input-div {
  display: flex;
}

.main--input-text,
.main--input-field,
.main--button {
  font-size: 1rem;
}

.main--input-field,
.main--button {
  width: 98%;
  border-radius: 1rem;
  border: none;
  height: 3.8rem;
}
//--------------------------------------------------------

// ------- Header  -----------------------------------
.header {
  align-items: center;
  height: 5.5rem;
  width: 100%;
  background: linear-gradient(var(--lr-grad));
  color: var(--greyLight-1);
  padding: 1.25em;
}

.header--image {
  height: 100%;
  margin-right: .375rem;
}

.header--title {
  font-size: 1.3rem;
  margin-right: auto;
  letter-spacing: -.1rem;
}

.header--project {
  font-weight: 300;
  font-size: 0.7rem;
}
//--------------------------------------------------------

// --------- Main Component ---------------------------
.main {
  margin: 2rem 2rem;
}

.main--input-div {
  flex-direction: column;
  align-items: start;
}

.main--input-text {
  margin: .5em;
}

.main--input-field {
  padding: 0 .5rem;
  outline: none;
  font-weight: bold;
  color: var(--primary-dark);
  caret-color: var(--primary);
  box-shadow: var(--inner-shadow);
  background: var(--greyLight-1);
}

.main--button {
  margin: 2rem 0;
  background-color: var(--primary-dark);
  color: var(--white);
  letter-spacing: 0.05rem;
}

.main--button :hover {
  cursor: pointer;
}

.meme {
  position: relative;
}

.meme--img {
  width: 97%;
  border-radius: 1rem;
  max-height: 29rem;
  position: relative;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
// ------------------------------------------------------

// ------- media queries ----------------------------
@media (min-width:480px) {
  #root {
    height: 100vh
  }

  .header--title {
    font-size: 2rem;
  }

  .header--project {
    font-size: 1rem;
  }

  main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main {
    max-width: 31em;
  }

  .meme--img {
    max-width: 27rem;
    max-height: 23rem;
  }

  .main--input-text, 
  .main--input-field {
    font-size: 1.5rem;
  }

  .main--button,
  .main--input-field {
    min-width: 27rem;
    max-width: 27rem;
  }
}
// ---------------------------------------------